In [119]:
import numpy as np
import pandas as pd
from pandas import Series

In [80]:
# importing data
# numpy array with columns of date/time and num_value

PC_0192_details = pd.read_csv("Details_PC-0192.csv", sep=',')
# dtype='str', comments="#", delimiter="\t", unpack=False)
PC_0192_details

,Project ID,birth_deid_date,death_deid_date,sex,icu_visit,icu_start_deid_dttm,icu_end_deid_dttm,failed_extubation_flag,failed_extubation_deid_date,intubation_flag,extubation_flag,extubation_deid_date,extubation_score,re_intubation_deid_date,icu_ward
0,PC0192,22/06/2004,NaN,Male,1,22/12/2016 11:53,18/02/2017 17:13,1,10/01/2017 18:00,1,1,28/12/2016 18:00,5,11/01/2017 14:00,FLAMI

In [104]:
PC_0192_details['failed_extubation_deid_date'] = pd.to_datetime(PC_0192_details['failed_extubation_deid_date'], format='%d/%m/%Y %H:%M')
PC_0192_details['re_intubation_deid_date'] = pd.to_datetime(PC_0192_details['re_intubation_deid_date'], format='%d/%m/%Y %H:%M')

In [105]:
PC_0192_details

,Project ID,birth_deid_date,death_deid_date,sex,icu_visit,icu_start_deid_dttm,icu_end_deid_dttm,failed_extubation_flag,failed_extubation_deid_date,intubation_flag,extubation_flag,extubation_deid_date,extubation_score,re_intubation_deid_date,icu_ward
0,PC0192,22/06/2004,NaN,Male,1,22/12/2016 11:53,18/02/2017 17:13,1,2017-01-10 18:00:00,1,1,28/12/2016 18:00,5,2017-01-11 14:00:00,FLAMI

In [106]:
failed_extubation = PC_0192_details.iloc[0,8]
re_intubation = PC_0192_details.iloc[0,13]

print(failed_extubation, re_intubation)

2017-01-10 18:00:00 2017-01-11 14:00:00

In [107]:
PC_0192_data = pd.read_csv("PC0192_1_HR.csv", sep=',')
PC_0192_data

       monitor     record_date_time  num_value
0           HR  2016-12-22 12:09:21         98
1           HR  2016-12-22 12:09:26         98
2           HR  2016-12-22 12:09:31         98
3           HR  2016-12-22 12:09:36         96
4           HR  2016-12-22 12:09:41         97
...        ...                  ...        ...
942176      HR  2017-02-18 17:08:34         96
942177      HR  2017-02-18 17:08:39         96
942178      HR  2017-02-18 17:08:44         95
942179      HR  2017-02-18 17:08:49         96
942180      HR  2017-02-18 17:08:54         96

[942181 rows x 3 columns]

In [108]:
# PC_0192_data['record_date_time'] = PC_0192_data['record_date_time'].dt.strftime('%d/%m/%Y %H:%M:%S')
PC_0192_data['record_date_time'] = pd.to_datetime(PC_0192_data['record_date_time'], format='%Y-%m-%d %H:%M:%S')
PC_0192_data

       monitor    record_date_time  num_value
0           HR 2016-12-22 12:09:21         98
1           HR 2016-12-22 12:09:26         98
2           HR 2016-12-22 12:09:31         98
3           HR 2016-12-22 12:09:36         96
4           HR 2016-12-22 12:09:41         97
...        ...                 ...        ...
942176      HR 2017-02-18 17:08:34         96
942177      HR 2017-02-18 17:08:39         96
942178      HR 2017-02-18 17:08:44         95
942179      HR 2017-02-18 17:08:49         96
942180      HR 2017-02-18 17:08:54         96

[942181 rows x 3 columns]

In [109]:
# 'failed_extubation' and 're_intubation' are formatted differently to 'PC_0192_data'
# change manually for now, BUT COME BACK TO THIS AND CHANGE PROPERLY

# failed_extubation_2 = '2017-01-10 18:00:00'
# re_intubation_2 = '2017-01-11 14:00:00'

# fixed this

In [93]:
# PC_0192_data_2 = PC_0192_data[['num_value']].copy()
# PC_0192_data_2.set_index(PC_0192_data['record_date_time'], drop=True)

In [112]:
# PC_0192_data_2.loc[failed_extubation_2]
# test = PC_0192_data.iloc[5,1]
# PC_0192_data_2.loc[test]

In [123]:
PC_0192_data.timestamp.searchsorted(failed_extubation)

AttributeError: 'DataFrame' object has no attribute 'timestamp'

In [127]:
dt='2022-02-07T23:18:06.08349'
PC_0192_data. timestamp.searchsorted(dt)

AttributeError: 'DataFrame' object has no attribute 'timestamp'

In [66]:
np.where(PC_0192_data["record_date_time"] == test)[0]

array([5])