In [1]:
import numpy as np
import pandas as pd
from pandas import Series
import matplotlib.pyplot as plt
from datetime import datetime, timedelta
import scipy.stats as stats
import scipy.ndimage as ndimage
import pymannkendall as mk

In [2]:
# importing data
# numpy array with columns of date/time and num_value

PC_0192_details = pd.read_csv("Details_PC-0192.csv", sep=',')
PC_0192_details

,Project ID,birth_deid_date,death_deid_date,sex,icu_visit,icu_start_deid_dttm,icu_end_deid_dttm,failed_extubation_flag,failed_extubation_deid_date,intubation_flag,extubation_flag,extubation_deid_date,extubation_score,re_intubation_deid_date,icu_ward
0,PC0192,22/06/2004,NaN,Male,1,22/12/2016 11:53,18/02/2017 17:13,1,10/01/2017 18:00,1,1,28/12/2016 18:00,5,11/01/2017 14:00,FLAMI

In [3]:
# changing required fields to correct datetime data type to avoid string issues

PC_0192_details['failed_extubation_deid_date'] = pd.to_datetime(PC_0192_details['failed_extubation_deid_date'], format='%d/%m/%Y %H:%M')
PC_0192_details['re_intubation_deid_date'] = pd.to_datetime(PC_0192_details['re_intubation_deid_date'], format='%d/%m/%Y %H:%M')

In [4]:
failed_extubation = PC_0192_details.iloc[0,8]
re_intubation = PC_0192_details.iloc[0,13]

print(failed_extubation, re_intubation)

2017-01-10 18:00:00 2017-01-11 14:00:00

In [5]:
PC_0192_ABF_data = pd.read_csv("PC0192/PC0192_1_ABF.csv", sep=',')
PC_0192_ABF_data['record_date_time'] = pd.to_datetime(PC_0192_ABF_data['record_date_time'], format='%Y-%m-%d %H:%M:%S')
PC_0192_ABF_data

        monitor    record_date_time  num_value
0          ARTd 2016-12-26 18:36:04         70
1          ARTm 2016-12-26 18:36:04         85
2          ARTs 2016-12-26 18:36:04        121
3          ARTd 2016-12-26 18:36:09         71
4          ARTm 2016-12-26 18:36:09         87
...         ...                 ...        ...
1392312    ABPs 2017-01-23 15:08:05        132
1392313    ABPd 2017-01-23 15:08:09         62
1392314    ABPm 2017-01-23 15:08:09         82
1392315    ABPs 2017-01-23 15:08:09        124
1392316    ABPm 2017-01-23 15:08:15         66

[1392317 rows x 3 columns]